
body {
    background-image: url(../images/bg_2.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h5 {
    color: white;
    font-weight: bold;
    text-align: center; 
}

.button {
    display: block; 
    width: fit-content; 
    margin: 0 auto 10px; 
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

#dashboardBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #65a728; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dashboardBtn:hover {
    background-color: #218838;
}

#log-out {
    position: absolute;
    top: 70px;
    left: 20px;
    background-color: #65a728; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#log-out:hover {
    background-color: #218838;
}

.modal-body, .modal-footer {
    text-align: center; 
}

.modal-dialog {
    margin: 100px auto; 
}

.modal-title {
    color: #007bff; 
    font-weight: bold;
}

.modal-content {
    background-color: #f8f9fa;
}

.modal-footer {
    justify-content: center;
}

/* Booking Modal */
#bookingModal .modal-dialog {
    max-width: 90%;
}

#bookingModal .modal-body {
    overflow-x: auto;
}

/* Booking Table */
#bookingModal table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    margin-top: 15px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

#bookingModal th, #bookingModal td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dee2e6;
}

#bookingModal th {
    background-color: #007bff;
    color: #fff;
}

#bookingModal tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#bookingModal tbody tr:hover {
    background-color: #e9ecef;
}

/* Users Modal */
#getAllUsersModal .modal-dialog {
    max-width: 90%;
}

#getAllUsersModal .modal-body {
    overflow-x: auto;
}

/* Users Table */
#getAllUsersModal table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    margin-top: 15px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

#getAllUsersModal th, #getAllUsersModal td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dee2e6;
}

#getAllUsersModal th {
    background-color: #007bff;
    color: #fff;
}

#getAllUsersModal tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#getAllUsersModal tbody tr:hover {
    background-color: #e9ecef;
}
